*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//general
body{
  color: rgb(55, 53, 57);
  font-family: 'Open Sans', sans-serif;
  .container {
    margin: 0 auto;
    max-width: 850px;
  }
  .horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    outline: none;
  }
}
$main-color: rgb(70, 25, 71);
// header - menu
.row-first{
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: $main-color;
  height: 80px;
  box-shadow: 2px 2px 2px rgb(33, 33, 33);
  .container{
    max-width: 1400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 50px;
    @media(max-width: 960px){
      padding: 0 20px;
    }
    .logo{
      background-image: url(../images/VR_mind_trans_logo.png);
      width: 180px;
      height: 40px;
      background-size: contain;
      background-position: center;
      margin-bottom: 18px;
      background-repeat: no-repeat;
      cursor: pointer;
      &:hover{
        opacity: 0.5;
      }
      @media(max-width: 960px){
        width: 100px;
        height: 25px;
        margin-bottom: 15px;
      }
    }
    nav{
      ul{
        display: flex;
        justify-content: center;
        li{
          display: inline-block;
          text-transform: uppercase;
          padding: 0 40px;
          @media(max-width: 1195px){
            padding: 0 15px;
          }
          a{
            color: white;
            text-decoration: none;
            cursor: pointer;
            &:hover{
              opacity: 0.5;
            }
          }
        }
      }
      @media(max-width: 750px){
        display: none;
      }
    }
    .language a{
      color: #806081;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
//menu - hamburger
.hamburger{
  display: none;
}


// header - content
.row-second{
  padding-top: 80px;
  background-image: url(../images/main_img.jpg);
  background-size: cover;
  min-height: 670px;
  height: 90vh;
  .transbox{
    background-color: rgba(255, 255, 255, 0.3);
    height:100%;
    .main-text{
      position: absolute;
      width: 60%;
      right: 0;
      top: 170px;
      text-align: right;
      @media(max-width: 1260px){
        width: 100%;
        text-align: center;
        font-size: 0.5em;
      }
      div{
        padding: 20px 100px 20px 20px;
        margin-bottom: 20px;
        border-radius: 2px;
        @media(max-width: 1260px){
          padding: 20px;
        }
        p{
          font-size: 23px;
        }
        &:first-child{
          background-color: rgba(255, 255, 255, 0.5);
          h1{
            text-transform: uppercase;
            font-size: 43px;
          }
          p{
            font-size: 35px;
          }
        }
        &:last-child{
          background-color: rgba(70, 25, 71, 0.5);
          color: white;
          p:first-child{
            font-size: 28px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
// section - general
section{
  padding-top: 85px;
  padding-bottom: 85px;
  .col-2{
    display: flex;
    justify-content: center;
  }
  h2{
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 36px;
    text-align: center;
  }
  h3{
    font-weight: 400;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
  }
  .horizontal-line{
    background-color: #373539;
    height: 5px;
    width: 125px;
    margin-bottom: 30px;
    border-radius: 2px;
  }
  p{
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 26px;
  }
}
// section - first - Innowacje kluczem do lepszej jakości życia

#first-section {
  .first-section-img{
    background-image: url(../images/graph.png);
    background-size: cover;
    height: 181px;
    width: 332px;
    display: flex;
    align-self: center;
    margin-right: 45px;
  }
  ul{
    list-style-type: circle;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    color: $main-color;
  }
}

// section - second - oferta

#second-section {
  background-color: #dfddde;
  .second-section-img{
    background-image: url(../images/computer.png);
    background-size: cover;
    height: 240px;
    width: 400px;
    display: flex;
    align-self: center;
  }
  ul{
    font-weight: 300;
    text-align: right;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 18px;
    line-height: 30px;
    h4{
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    li{
      padding-right: 20px;
    }
  }
  button{
    background-color: #cdcdcd;;
    color: white;
    width: 270px;
    height: 63px;
    text-transform: uppercase;
    font-size: 25px;
    border: none;
    box-shadow: 1px 1px 1px #878787;
    cursor: pointer;
    &:hover{
      background-color: #b4b4b4;
    }
  }
}

// section - third - technologia

#third-section {
  padding-bottom: 0;
  background-color: rgba(255,255,255,1);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(209,209,209,1) 100%);
  .third-section-img{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    overflow: hidden;
    div {
    height: 348px;
    width: 421px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    }
    .phone-device {
      background-image: url(../images/phone.png);
      width: 211px;
    }
    .computer-device {
      background-image: url(../images/computer_dev.png);
    }
    .vive-device {
      background-image: url(../images/vive.png);
    }
    .vr-device {
      background-image: url(../images/vr.png);
    }
  }
}
// section - forth - aktualności

#forth-section {
  .forth-section-img{
    background-image: url(../images/PNIR_2017_nominacja1.png);
    background-size: cover;
    height: 270px;
    width: 415px;
    display: flex;
    align-self: center;
    margin-right: 45px;
  }
  .col-2 p{
    text-align: left;
    width: 60%
  }
}
//section - fifth - o nas
#fifth-section {
  background-color: #eeeeef;
  .more-content{
    cursor: pointer;
    &:hover{
      opacity: 0.5;
    }
  }
}
//section - sixth - zespół
.hidden{
  display: none;
}

#sixth-section {
  background-color: #231f20;
  color: white;
  .col-2{
    justify-content: space-between;
  }
  .main-team-img{
    background-image: url(../images/marcin_cz.jpg);
    height: 450px;
    width: 40%;
    display: flex;
    margin-right: 45px;
    margin-top: 10px;
  }
  .col2-content{
    width: 55%;
    max-height: 484px;
    h3, h4, p {
      text-align: left;
    }
    p {
      font-size: 16px;
      margin-bottom: 15px;
    }
    p.more{
      font-weight: 600;
      color: #9b9b9c;
      margin-bottom: 5px;
    }
    ul.more{
      li{
        font-weight: 300;
        font-size: 14px;
        padding: 5px 0;
        color: #9b9b9c;
      }
    }
    h4 {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 10px;
    }
    h3 {
      margin-bottom: 15px;

    }
  }
  .more-content{
    cursor: pointer;
    &:hover{
      opacity: 0.5;
    }
  }
  .team-container{
    position: relative;
    width: 100%;
    .fa-caret-left, .fa-caret-right{
      position: absolute;
      top: 110px;
      color: #3d3d3d;
      font-size: 60px;
      cursor: pointer;
      &:hover{
        color: #9f9f9f;
      }
      @media(max-width: 990px){
        font-size: 40px;
      }
    }
    .fa-caret-left{
      left: -50px;
      @media(max-width: 990px){
        left: -30px;
      }
    }
    .fa-caret-right{
      right: -50px;
      @media(max-width: 990px){
        right: -30px;
      }
    }
  }
  .col3-content{
    display: flex;
    justify-content: space-between;
    width: 100%;

    h3{
      margin-bottom: 10px;
    }
    .team-member-first{
        background-image: url(../images/martyna_sm.jpg);
    }
    .team-member-second{
        background-image: url(../images/marcin_l_sm.jpg);
    }
    .team-member-third{
        background-image: url(../images/arek_sm.jpg);
    }
    .team-member-forth{
        background-image: url(../images/jakub_sm.jpg);
    }
    &>div{
      width: 31%;
      text-align: center;
      div{
        height: 280px;
        width: 100%;
        background-size: cover;
        background-position: center;
      }
    }
  }
}

//section - seventh - zaufali nam
#seventh-section {
  .first-partner-img{
    background-image: url(../images/logo_wpt.png);
  }
  .second-partner-img{
    background-image: url(../images/techland_logo.jpg);
  }
  .third-partner-img{
    background-image: url(../images/logo-dzikijez.png);
  }
  .forth-partner-img{
    background-image: url(../images/uniberg.jpg);
  }
  .fifth-partner-img{
    background-image: url(../images/ikea_logo.png);
  }
  div{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .col-2{
    width: 100%;
    padding-top: 15px;
    div{
      width: 45%;
      height: 100px;
    }
  }
  .col-3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
    div{
      width: 31%;
      height: 150px;
    }
  }
}
//section - eighth - form
#eighth-section {
  background-color: rgba(70, 25, 71, 0.83);
  .col-2{
    width: 100%;
    div{
      margin: 10px;
      width: 50%;
      &.form-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
      }
      input{
        width: 100%;
        height: 40px;
        padding: 10px;
      }
      textarea{
        width: 100%;
        resize: none;
        height: 100%;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
  .error{
    padding-left: 10px;
    color: red;
    font-weight: 600;
  }
  .submit-container{
    display: flex;
    justify-content: center;
    input[type="submit"]{
      background-color: $main-color;
      color: white;
      border: none;
      width: 150px;
      height: 40px;
      margin-top: 15px;
      outline: none;
      cursor: pointer;
      &:hover{
        background-color: #b4a5b4;
      }
    }
  }
}
//section - ninth - contact
#ninth-section {
  height: 384px;
  .col-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ninth-section-left {
      width: 40%;
      text-align: right;
      .logo-contact{
        background-image: url(../images/vrmind_logo_fiol.png);
        width: 250px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        &:hover{
          opacity: 0.6;
          width: 260px;
        }
      }
    }
    .vertical-line{
      background-color: #373539;
      height: 60px;
      width: 5px;
      margin-bottom: 30px;
      border-radius: 2px;
    }
    .contact-info{
      width: 40%;
      p{
        text-align: left;
      }
      .info-mail{
        font-weight: 700;
      }
      .fa-youtube-square, .fa-facebook-square{
        font-size: 50px;
        padding-right: 10px;
        cursor: pointer;
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
}
//footer
footer{
  background-color: rgb(55, 55, 55);
  color: white;
  height: 50px;
  font-weight: 300;
  .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 850px;
    height: 100%;
  }
}
//animation team-changing smooth-scroll
.animation-next{
  animation-name: next;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;

}
.animation-prev{
  animation-name: prev;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}


@keyframes next {
  0%{
    transform: translate(0);
  }
  100%{
    transform: translate(250px);
  }
}

@keyframes prev {
  0%{
    transform: translate(0);
  }
  100%{
    transform: translate(-250px);
  }
}
